.allprojects-gallery {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  margin: auto 30px;
}

.allprojects-gallery-image {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  grid-row: span 3;
  grid-column: span 3;
  background-blend-mode: multiply;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  box-shadow:  inset 0 0 1em rgba( 0, 0, 0, 0.0 ), 0.25em 0.25em 0.25em rgba( 0, 0, 0, 0.3 );
  transition: 0.5s ease-in-out;
}

.allprojects-gallery-image:hover {
    transform: scale(1.1);
}

.peaks {
  background-image: url(../photos/peaks.png);
}

.spots {
  background-image: url(../photos/spot-locater.png);
}

.dev-spot {
  background-image: url(../photos/Dev-users.png);
}

.ttt {
  background-image: url(../photos/TTT.png);
}

.allprojects-gallery-image {

}

@media only screen and (max-width: 600px) {
  .allprojects-gallery {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  .allprojects-gallery-image {
    margin: auto 10px;
    color: white;
    opacity: 0.8;
    background-size: cover;
    grid-row: span 2;
    grid-column: span 5;
    height: 8rem;

    &:hover {
      background-blend-mode: none;
      background-position: center;
    }
  }
}
